# Bağımlılıklar
node_modules/

# Ortam / gizli dosyalar
.env
.env.local
.env.*.local

# IDE / editör
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build / log
dist/
build/
.next/
*.log
npm-debug.log*

# Prisma
prisma/migrations/**/migration_lock.toml

#pem
otelpartner.pem